<ul class="bxslider">
    <% for banner in @banners %>
      <li>
          <%= image_tag(banner.images.first.image.url(:original), height: 400, width: 1200, title: banner.name) %>
      </li>
    <% end %>
</ul>
<h1>Products</h1>
<hr />
<div id="products">
    <%= render :partial => '/products/index' %>
</div>
<h1>Videos</h1>
<hr />
<div id="videos">
    <%= render :partial => '/videos/index' %>
</div>
<script>
  $('.bxslider').bxSlider({
      captions: true,
      auto: true,
      autoHover: true,
      pause: 5000,
      controls: false,
      captions: true
  });
</script>