/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require fancybox
 *= require_tree .
 *= require_self
 *= require bootstrap
 *= require jquery.jcrop
 *= require dropzone/dropzone
 */

#pagination{
    float: right; position: relative;margin-top: -65px;
}

a.next_page{
    background-color: #BBBBC3;
    border: 1px solid #DDDDDD;
    border-radius: 2px;
    padding: 3px 6px 4px;
}
a.previous_page{
    background-color: #BBBBC3;
    border: 1px solid #DDDDDD;
    border-radius: 2px;
    padding: 3px 6px 4px;
}
.pagination a{
    background-color: #BBBBC3;
    border: 1px solid #DDDDDD;
    border-radius: 2px;
    padding: 3px 6px 4px;
}
.previous_page.disabled{
    background-color: #BBBBC3;
    border: 1px solid #DDDDDD;
    border-radius: 2px;
    padding: 3px 6px 4px;
}
.next_page.disabled{
    background-color: #BBBBC3;
    border: 1px solid #DDDDDD;
    border-radius: 2px;
    padding: 3px 6px 4px;
}

#online-users{
    position: relative;
    top: 9px;
    width: 380px;
}

#cart{
    float: right;
    left: 85px;
    position: relative;
    width: 435px;
}

#cvv_date{
    width: 120px;
    background-color: white;
    border: 1px solid gainsboro;
    padding: 5px;
}

#order-table{
    width: 100%;
    line-height: 50px;
}

#success{
    font-weight: bold;
    position: relative;
    top: -10px;
}

#header-logo{
    position: relative;
    border-radius: 33px;
    background-color: white;
    font-size: 14px;
    padding: 15px;
}

#payment-form{
    width: 110px;
}

#payment-form input[type=submit]{
    background-color: #d9534f;
    border: 1px solid transparent;
    border-radius: 4px;
    color: #fff;
    font-size: 14px;
    left: -115px;
    line-height: 0.7;
    padding: 6px 9px;
    position: relative;
    text-align: center;
    top: 24px;
}

#line_item_quantity{
    border: 1px solid lightblue;
    border-radius: 4px;
    text-align: center;
    width: 50px;
}

.video{
    border:solid 1px #000000;
    background-color:#FFFFFF;
    left:23%;
    top:11%;
}

input[type="file"]{
    background-color: white;
    border: 1px solid #008A8A;
    padding: 5px;
}
