<div class="page-header">
  <h3>Products
    <%= link_to "New Product", new_product_path, :class => 'btn btn-xs btn-success', :style => 'float: right;' %>
  </h3>
</div>

<%= render :partial => 'index' %>