<%= form_tag image_destroy_product_images_path(@product), :method => :get do %>
  <h3>
    Product Images
    <div class="pull-right">
      <div class="checkbox checkbox-danger checkbox-inline">
        <input type="checkbox" id="selecctall" />
        <label for="inlineCheckbox2"></label>
      </div>
      <%= submit_tag "delete all", :class => "btn btn-xs btn-danger" %>
      <%= link_to "Add Images", new_product_image_path(@product), :class => 'btn btn-success btn-xs' %>
    </div>
  </h3>
  <hr />
  <div id="product_images">
    <%= render :partial => 'images' %>
  </div>
<% end %>
<script>
  $(".fancybox").fancybox();

  $("#selecctall").change(function() {
    $(".check_all").prop('checked', $(this).prop("checked"));
  });
</script>
