<div class="page-header">
  <h3>Cart</h3>
</div>
<div id='total_cart'><%= render :partial => '/carts/total_cart' %></div>
<div style="float: right;">
  <%= link_to "Proceed to Checkout", carts_path, :class => 'btn btn-xs btn-warning' %>
</div>