<div class="page-header">
  <h1>Cart</h1>
</div>
<div id='total_cart'><%= render :partial => '/carts/total_cart' %></div>
<div style="float: left;">
  <%= link_to "Continue Shopping", carts_path, :class => 'btn btn-xs btn-success' %>
</div>
<div style="float: right;">
  <%= link_to "Proceed to Checkout", carts_path, :class => 'btn btn-xs btn-warning' %>
</div>